In [1]:
print("hello wolrd ")

hello wolrd

In [1]:
name = "Atharva"

In [2]:
print(name)

Atharva

In [3]:
A = 12

In [5]:
type(A)

int

In [6]:
a = b = c = 5

In [7]:
print(a)
print(b)
print(c)

5
5
5

In [8]:
x=y=z= "Atharva" , 66 , "pawar"

In [9]:
print(x)
print(y)
print(z)

('Atharva', 66, 'pawar')
('Atharva', 66, 'pawar')
('Atharva', 66, 'pawar')

In [10]:
123total = 11111

SyntaxError: invalid decimal literal (1312018264.py, line 1)

In [11]:
total123 = 1111

In [12]:
print(total123)

1111

In [13]:
_e_f_g = "Abcd"

In [14]:
print(_e_f_g)

Abcd

In [15]:
_ = "Atharva"

In [16]:
print(_)

Atharva

In [17]:
if = "Atharva"

SyntaxError: invalid syntax (4279904368.py, line 1)

In [18]:
x , y, z = "Atharva" , 33, "Pawar "

In [19]:
print(x)
print(y)
print(z)

Atharva
33
Pawar

In [1]:
a = 55

In [2]:
print(a)

55

In [3]:
del(a)

In [4]:
print(a)

NameError: name 'a' is not defined

In [5]:
a,b,c = 1,2,4

In [6]:
print(a,b,c)

1 2 4

In [7]:
del a , b ,c

In [8]:
print a , b ,c

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2692603907.py, line 1)

In [9]:
print(a,b,c)

NameError: name 'a' is not defined

In [10]:
x = 4+5

In [11]:
print(x)

9

In [12]:
y = 5-3

In [13]:
print(y)

2

In [14]:
z = 6 // 3

In [15]:
print(z)

2

In [17]:
a = 3 ** 2

In [18]:
print(a)

9

In [19]:
135/2

67.5

In [20]:
9//2

4

In [21]:
45*4

180

In [22]:
9/2

4.5

In [23]:
4.5*45

202.5

In [1]:
# Get input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Calculate the sum
sum = num1 + num2

# Print the result
print("The sum of", num1, "and", num2, "is", sum)

Enter the first number:  11
Enter the second number:  22

The sum of 11.0 and 22.0 is 33.0

In [4]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print(num1 + num2)

Enter the first number:  11
Enter the second number:  22

33

In [5]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print(num1 - num2)

Enter the first number:  22
Enter the second number:  11

11

In [6]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print(num1 * num2)

Enter the first number:  5
Enter the second number:  6

30

In [7]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print(num1 // num2)

Enter the first number:  10
Enter the second number:  5

2

In [8]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print(num1 ** num2)

Enter the first number:  2
Enter the second number:  3

8

In [7]:
x=int(input("enter the number "))
if x > 5: 
    print("x is greater than 5") 
else:
    y = x * 2 
print("This line will always execute", y)

enter the number  3

This line will always execute 6

In [1]:
list ={1,"hello" , 3.44 , 555}

In [2]:
print(list)

{1, 3.44, 'hello', 555}

In [3]:
set = { 1,2,3,3,4,5,5,5,6}

In [4]:
print(set)

{1, 2, 3, 4, 5, 6}

In [5]:
set[1] = 55

TypeError: 'set' object does not support item assignment

In [6]:
try: my_set[1] = 55 except TypeError as e: print("Error:", e)

SyntaxError: invalid syntax (3630733228.py, line 1)

In [7]:
# Creating a set
my_set = {1, 2, 3}

# Trying to assign a value at a specific index
try:
    my_set[1] = 55
except TypeError as e:
    print("Error:", e)

Error: 'set' object does not support item assignment

In [8]:
set.add(44)

In [9]:
print(set)

{1, 2, 3, 4, 5, 6, 44}

In [10]:
list[1] = 55

TypeError: 'set' object does not support item assignment

In [11]:
 list1 = [1,2,3,4,5]

In [14]:
list1[1] = 44

In [15]:
list1

[1, 44, 3, 4, 5]

In [13]:
    # Creating a list
my_list = [1, 2, 3]

# Assigning a value at a specific index
my_list[1] = 55
print("Updated list:", my_list)

Updated list: [1, 55, 3]

In [17]:
dict= { "name" : "atharva" , "car" : "honda"  , "love" :"dhoka"}

In [18]:
dict

{'name': 'atharva', 'car': 'honda', 'love': 'dhoka'}

In [6]:
abc = """Nevertheless, rather than building all of its functionality into its core, Python was designed to be highly extensible via modules. 
This compact modularity has made it particularly popular as a means of adding programmable interfaces to existing applications. Van Rossum's 
vision of a small core language with a large standard library and easily extensible interpreter stemmed from his 
frustrations with ABC, which espoused the opposite approach"""

In [3]:
print(set(abc))

{'T', 'o', 't', 'd', 'N', 'e', 'y', '\n', 'h', 'n', 'x', 'i', 'l', 'w', ' ', 'r', 'C', 'c', 'A', '.', 'a', 'R', 'B', 'b', 's', 'V', 'f', 'P', 'p', 'm', ',', 'g', 'u', 'v', "'"}

In [4]:
len(set(abc))

35

In [7]:
len(abc)

448

In [8]:
len(set(abc))

35

In [9]:
print(abc.tolower())

AttributeError: 'str' object has no attribute 'tolower'

In [10]:
print(abc.lower)

<built-in method lower of str object at 0x0000020A855728E0>

In [11]:
abc.lower

In [12]:
abc

"Nevertheless, rather than building all of its functionality into its core, Python was designed to be highly extensible via modules. \nThis compact modularity has made it particularly popular as a means of adding programmable interfaces to existing applications. Van Rossum's \nvision of a small core language with a large standard library and easily extensible interpreter stemmed from his \nfrustrations with ABC, which espoused the opposite approach"

In [7]:
print(abc.lower())

nevertheless, rather than building all of its functionality into its core, python was designed to be highly extensible via modules.
this compact modularity has made it particularly popular as a means of adding programmable interfaces to existing applications. van rossum's
vision of a small core language with a large standard library and easily extensible interpreter stemmed from his
frustrations with abc, which espoused the opposite approach

In [14]:
len(set(abc))

35

In [15]:
print(set(abc))

{'T', 'o', 't', 'd', 'N', 'e', 'y', '\n', 'h', 'n', 'x', 'i', 'l', 'w', ' ', 'r', 'C', 'c', 'A', '.', 'a', 'R', 'B', 'b', 's', 'V', 'f', 'P', 'p', 'm', ',', 'g', 'u', 'v', "'"}

In [16]:
len(abc)

448

In [17]:
print(abc) - print(len(set(abc))

_IncompleteInputError: incomplete input (821252892.py, line 1)

In [1]:
duplicate = len(abc) - len(set(abc)

_IncompleteInputError: incomplete input (715339560.py, line 1)

In [8]:

duplicate_count = len(abc) - len(set(abc))
print("Number of duplicate characters:", duplicate_count)

Number of duplicate characters: 413

In [9]:
print("Length of abc:", len(abc))
print("Length of set(abc):", len(set(abc))) 
print("Number of duplicate characters:", len(abc) - len(set(abc)))

Length of abc: 448
Length of set(abc): 35
Number of duplicate characters: 413

In [1]:
def addition (a , b ) :

    c = a + b 
    return c

In [2]:
addition(11,22)

33

In [3]:
def addition (a , b ) :

    c = a + b 
    print(f"the addition of two number is {c}")

In [4]:
addition(33,44 )

the addition of two number is 77

In [5]:
def addition (a , b ) :

    return  a + b

In [6]:
addition(33,44)

77

In [12]:
a  = int(input("the first number is "))

the first number is  22

In [14]:
b = int(input("the first number is "))

the first number is  333

In [15]:
c = a+b

In [16]:
print(c)

355

In [18]:
def multiplication ( a ,b ,c ):
    
    add = a+ b+ c
    
    multi = a*b*c
    print(f"the addition and multiplication {add} AND {multi}")

In [19]:
multiplication(1,2,3)

the addition and multiplication 6 AND 6

In [20]:
multiplication(22,33,44)

the addition and multiplication 99 AND 31944

In [22]:
# add 20 numbers without using loop
numbers = range(1,21)
result = sum(numbers)
print(result)

210

In [24]:
tuple([11,22])

(11, 22)

In [29]:
def addition():
    a = int(input("enter the first number"))
    b = int(input("enter the 2nd number"))
    return sum(range(a,b))

In [30]:
addition()

enter the first number 1
enter the 2nd number 21

210

In [2]:
# write a progrm to calculate the age after 10 years with the present age 
age = input("enter the  age ")
present_age = int(age)+10 
print(present_age)

enter the  age  22

32

In [17]:

def age_calculater(present_age):
    present_age = int(age)+10 
    return present_age

In [18]:
age_calculater(22)

32

In [19]:
def addition(*args):
    return(sum(args))

In [20]:
addition(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

210

In [24]:
#lambda functions 
lambda1 = lambda num1 = 1, num2 = 2 : num1 + num2

In [25]:
print(lambda1)

<function <lambda> at 0x0000027A60E1B7E0>

In [26]:
result = lambda1()

In [27]:
print(result)

3

In [31]:
set_v ={1,2,3,4,4,6,6,6,4,7}
print(set)

{1, 2, 3, 4}

In [32]:
set_v ={1,2,3,4,4,6,6,6,4,7}
print(set)

{1, 2, 3, 4}

In [33]:
set = {1,2,2,4,4,5,5,6,6,7}

In [34]:
print(set)

{1, 2, 4, 5, 6, 7}

In [35]:
set1 = {1,2,2,3,3,4,5,5,5, 6,7}
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [37]:
a = int(input("enter the number"))
b = int(input("enter the number"))
lambda2 = lambda a,b : a*b
print("the sum of ", lambda2(a,b))

enter the number 1
enter the number 2

the sum of  2

In [41]:
x=  int (input("enter the number"))
y = int (input("enter the numbers"))
lambda3 = lambda x,y : x//y
print("the floor divison of the number" , lambda3(x,y))

enter the number 8
enter the numbers 2

the floor divison of the number 4

In [45]:
w = 8
r=  2
lambda4 = lambda w,r : w*r
print(lambda4(w,r))

16

In [47]:
lambda5 = (lambda a,b : a *b)(10,10)
print("the multi of " , lambda5)

the multi of  100

In [56]:
def addition(a,b):
    result = a+b 
    print(f"the asum of {result}")

In [57]:
addition(111,22)

the asum of 133

In [59]:
sum(range(1,21))

210

In [68]:
def addition1(*c):
    result = sum(args)
    print(f"the sum of {result}")

In [67]:
addition1(1,2,43,4,5,6,7,8,8,99,9,9,7,7,7,77,7,7,7)

the sum of 320

In [72]:
r =44 
t= 55
lambda33 = lambda r,t : r/t 
print("the addiotion of " , lambda33(r,t))

the addiotion of  0.8

In [1]:
i =1 

while i <=10 :
    print("helllo")
    i = i+1

helllo
helllo
helllo
helllo
helllo
helllo
helllo
helllo
helllo
helllo

In [3]:
i = int(input("enetr the number"))
number = int(input("enter the number1"))
while i <= number :
    i = i+1
    print("heeeelo")

enetr the number 1
enter the number1 10

heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo

In [4]:
i = int(input("enetr the number"))
number = int(input("enter the number1"))
while i <= number :
    print("heeeelo")
    i = i+1

enetr the number 1
enter the number1 104

heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo
heeeelo

In [2]:
list = (1,2,3,4,5,6)
for day in list:
    print(day)

1
2
3
4
5
6

In [1]:
list1= ['monday' , 'tuesday', 'wedenesday' , 'thursday' , 'friday' , 'saturday' , 'sunday']
for abc in list1:
    print(abc)

monday
tuesday
wedenesday
thursday
friday
saturday
sunday

In [6]:
i=1 
result = 1  
number = int(input("enter the number"))
while i <= number :
    result = result * i 
    i = i+1 
print(result)

enter the number 7

5040

In [1]:
i =1 
number = int(input("enter the number"))
while i<=number :
    if i % 2 == 0 :
        print(f"the even numbers are {i}")
    i = i + 1

enter the number 10

the even numbers are 2
the even numbers are 4
the even numbers are 6
the even numbers are 8
the even numbers are 10

In [ ]:
# this code will run infinitely 
star = '*'
max_len = int(input("enter the length"))

while len(star) <= max_len:
    print(star)
    star = '*' * 6

In [6]:
# pallindrome
a = input("enter the string")
if a == a[::-1]:
    print("the string is pallindrome")
else:
    print("string is not pallindrome")

enter the string tom

string is not pallindrome

In [11]:
b = "atharva"
print(b[2:5:1])

har

In [40]:
# string methods 
c = "atharva"
#c.capitalize()
#c.casefold()
#c.count("a")
#c.endswith("va")
#c.startswith("tom")
#c.find("h")
#d= "ath\tarva"
#d.expandtabs(4)
#c.index("a")

0

In [42]:
print(range(1,20,2))

range(1, 20, 2)

In [43]:
number = int(input("enter the number"))
max_number = int(input("enter the max numbers"))
while number <= max_number:
    number = number + 2 
    print(number)

enter the number 10
enter the max numbers 40

12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42

In [45]:
number = int(input("enter the number"))
max_number = int(input("enter the max numbers"))
while number <= max_number:
    number = number + 1
    print(number)

enter the number 1
enter the max numbers 10

2
3
4
5
6
7
8
9
10
11

In [47]:
#1.Write a Python program to find the area of a triangle.

def areaoftriangle(l,b,h):
    area = l*b*h
    print(f"the area of traingle is {area}")

In [48]:
areaoftriangle(1,2,3)

the area of traingle is 6

In [49]:
a = int(input("eneter the number1"))
b = int(input("enter the number2"))

temp= a 
a= b 
b= temp

print(a,b)

eneter the number1 2
enter the number2 3

3 2

In [50]:
def swapnumbers ( a , b):
    temp=a 
    a=b
    b=temp
    print(f"after the swapping the numbers are {a} {b}")

In [52]:
swapnumbers(2,3)

after the swapping the numbers are 32

In [54]:
a= "atharva"
a.swapcase()

'ATHARVA'

In [55]:
# without using temp variable
a = int(input("eneter the number1"))
b = int(input("enter the number2"))

a,b=b,a

print(a,b)

eneter the number1 2
enter the number2 3

3 2

In [62]:
#Write a Python Program to Check if a Number is Positive, Negative or Zero
def number(a):
    if a >=1 :
        print("the number  is positive")
    elif a < 1 :
        print("the number is negative")
    elif a == 0 :
        print("the number is zero")
    else :
        print("the number is invalid")
    print(f"the given number is {a}")

In [57]:
number(2)

the number  is positive
the given number is 2

In [58]:
number(-1)

the number is negative
the given number is -1

In [59]:
number(1)

the number  is positive
the given number is 1

In [60]:
number(0)

the number is negative
the given number is 0

In [61]:
number(824824624624297)

the number  is positive
the given number is 824824624624297

In [64]:
#5.Write a Python Program to Check if a Number is Odd or Even.
def number(a):
    if a %2 ==0:
        print("the number  is even")
    elif a % 2 != 0 :
        print("the number is odd")
    
    print(f"the given number is {a}")

In [65]:
number(2)

the number  is even
the given number is 2

In [66]:
number(3)

the number is odd
the given number is 3

In [ ]:
#7.Write a Python Program to Check Prime Numbers.

In [1]:
a = "atharva"

In [2]:
print(list(a))

['a', 't', 'h', 'a', 'r', 'v', 'a']

In [4]:
print(a[0:4])

atha

In [6]:
print(a[:-1])

atharv

In [7]:
print(len(a))

7

In [8]:
print(a[3])

a

In [9]:
names = ["ram","shyam","monu","sonu","ganesh","shiva","rani","tomy","chintu","ganga","laxmi"]

In [10]:
print(names[1:10:2])

['shyam', 'sonu', 'shiva', 'tomy', 'ganga']

In [11]:
print(names[::-1])

['laxmi', 'ganga', 'chintu', 'tomy', 'rani', 'shiva', 'ganesh', 'sonu', 'monu', 'shyam', 'ram']

In [12]:
names = ["ram","shyam","monu","sonu","ganesh","shiva","rani","tomy","chintu","ganga","laxmi"]

for name in names :
    print(name)

ram
shyam
monu
sonu
ganesh
shiva
rani
tomy
chintu
ganga
laxmi

In [15]:
names = ["ram","shyam","monu","sonu","ganesh","shiva","rani","tomy","chintu","ganga","laxmi"]
i =0 
while  i < len(names):
    print(names[i])
    i = i+1

ram
shyam
monu
sonu
ganesh
shiva
rani
tomy
chintu
ganga
laxmi

In [21]:
age = int(input("enter the age"))
lambda111 = lambda age : age + 10 
print("the age after 10 years " ,lambda111(age))

enter the age 220

the age after 10 years  230

In [22]:
my_list = []

for number in range(10,110,10):
    my_list.append(number)
print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [23]:
fruits = ["Apple","Banana","Mango","Cherry"]
fruits.append("alala")

In [24]:
print(fruits)

['Apple', 'Banana', 'Mango', 'Cherry', 'alala']

In [29]:
more_fruits = ["berry" , "grapes"]
fruits.extend(more_fruits)
print(more_fruits)

['berry', 'grapes']

In [30]:
print(fruits)

['Apple', 'Banana', 'Mango', 'Cherry', 'alala', 'berry', 'grapes', 'berry', 'grapes']

In [31]:
fruits = ["Apple","Banana","Mango","Cherry"]
more_fruits = ["watermelon","Custodapple"]
fruits = fruits + more_fruits
fruits

['Apple', 'Banana', 'Mango', 'Cherry', 'watermelon', 'Custodapple']

In [32]:
fruits.pop()

'Custodapple'

In [34]:
fruits.remove("Mango")

In [35]:
fruits

['Apple', 'Banana', 'Cherry', 'watermelon']

In [36]:
fruits.sort()

In [37]:
fruits

['Apple', 'Banana', 'Cherry', 'watermelon']

In [38]:
#copy list
my_fruits = fruits   # soft copy
my_fruits

['Apple', 'Banana', 'Cherry', 'watermelon']

In [39]:
# Approch is 
fruits = ["Apple","Banana","Mango","Cherry"]
my_fruits = fruits.copy()   #Deep copy
my_fruits

['Apple', 'Banana', 'Mango', 'Cherry']

In [40]:
list1= [10,20,30]
list2= [40,50,60]
list3 = list1 + list2   #concatinate the list
print(list3)

[10, 20, 30, 40, 50, 60]

In [41]:
list1 * 3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [43]:
print(list1 < list2)
print(list1 != list3)
print(list1 > list2 )
print(list1 == list2)

True
True
False
False

In [44]:
list1 = [10,20,30]
print(10 in list1)
print(40 in list1)

True
False

In [45]:
print(50 not in list1)

True

In [76]:
#4.In ERP , SAP or Oracle the number are stored in format 25.00.000,00. n
#calculation Excel, SQL we use format 25,00,000.00.Question is how to convert the above data from SAP to Excel.
number = "25.00.000,00"
table = str.maketrans({".": "," , "," : "."})
convert = number.translate(table)
print(convert)

25,00,000.00

In [73]:
number = "25.00.000,00"


number = number.replace(".", " ")
number = number.replace(",", ".")
number = number.replace(" ", ",")

print(number)

25,00,000.00

In [75]:
number = "25.00.000,00"
table = str.maketrans({".": ",", ",": "."})
convert = number.translate(table)
print(convert)

25,00,000.00

In [68]:
number = "25.00.000,00"
number = number.replace("." , " ")
number = number.replace("," , ".")
number = number.replace(" " , ",")
print(number)

25,00,000.00

In [11]:
vowels = [ 'a', 'e','i','o','u']
user = input("enter the character that you want")
vowels_user = []

for character in user:
    if character in vowels:
        if character not in vowels_user :
            vowels_user.append(character)
print("the vowels is present" , vowels_user);

enter the character that you want bcbcbbvbvb

the vowels is present []

In [8]:
print(vowels)

['a', 'e', 'i', 'o', 'u']

In [15]:
#list comprehension

fruits = ['a','b','c','d','e']
list(fruit for fruit in fruits)

['a', 'b', 'c', 'd', 'e']

In [24]:
[fruit.upper() for fruit in fruits]

['A', 'B', 'C', 'D', 'E']

In [25]:
for fruit in fruits :
     print(fruit.upper())

A
B
C
D
E

In [31]:
numbers = list(range(12 ,87 , 5))

even = [number for number in numbers if number%2==0]
odd  = [number for number in numbers if number%2!=0]
print ("the even numbers are " , even )
print("the odd numbers are " , odd)

the even numbers are  [12, 22, 32, 42, 52, 62, 72, 82]
the odd numbers are  [17, 27, 37, 47, 57, 67, 77]

In [27]:
print(even)

[12, 22, 32, 42, 52, 62, 72, 82]

In [32]:
combined = [ char1 + char2 for char1 in "life" for char2 in "study"]
print(combined)

['ls', 'lt', 'lu', 'ld', 'ly', 'is', 'it', 'iu', 'id', 'iy', 'fs', 'ft', 'fu', 'fd', 'fy', 'es', 'et', 'eu', 'ed', 'ey']

In [2]:
number = list(range(12,87,3))
even_numbers = [x if x%2==0 else "odd numbers" for x in number] 
print(even_numbers)

[12, 'odd numbers', 18, 'odd numbers', 24, 'odd numbers', 30, 'odd numbers', 36, 'odd numbers', 42, 'odd numbers', 48, 'odd numbers', 54, 'odd numbers', 60, 'odd numbers', 66, 'odd numbers', 72, 'odd numbers', 78, 'odd numbers', 84]

In [3]:
a = "atharva"
print(a[::-1])

avrahta